# Core functionality - changes here should be rare!
/src/app.py                   @abdallahfahel-iam
/src/backend/database.py      @abdallahfahel-iam
/src/backend/routers/auth.py  @abdallahfahel-iam

# The frontend will need refactored soon to be more object oriented.
/src/static/   @abdallahfahel-iam
